<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Ana Sayfa</title>
  <link rel="stylesheet" href="static/style.css">
  <link href="https://fonts.googleapis.com/css?family=Alata|Raleway&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>

<body>
  <div class="content">
  <header>
      <div class="mid-header">
        <div class="logo">
          <a href="/">OurMood</a>
        </div>
        <ul class="nav-links">
          
          <a href="/articles">Articles</a>
          {% if session["logged_in"] %}
            <a href="/addarticle">Add Article</a>
          {% else %}
          {% endif %}

          {% if session["logged_in"] %}
            <a href="/dashboard">Control Panel</a>
          {% else %}
          {% endif %}


          <a href="/about">About</a>
          <a href="/contact">Contact</a>
          {% if session["logged_in"] %}
            <a href="/logout">Log Out</a>
           {% else %}
           <a href="/login"><button>Sign Up</button></a>
           {% endif %}

        </ul>
      </div>
    </header>

    <div class="about">
      <h1>Who We Are?</h1>
      <h2>We're engineers who is the working on Quantum computer at Silicon Valley.Just joke :D. We're two friends from same scholl and class at 11th grade. We're interested in coding and we're trying to learn something new. We saw this "Creating
        Best Blog"
        competition and we decided to work on it. SedAtmaca (C.Sedat Atmaca) is trying to coding front-end of our website with HTML-CSS and CosmicOwl(M.İfithar Çırçır) is working on back-end with Pyhton. To be honest we wanted to make more
        things but we're studying same time. Because of that we couldn't make most of things. But we will. Follow Us! </h2>
      <center> <a><i class="fas fa-pen-fancy"></i>SedAtmaca (C.Sedat Atmaca)</a>
        <a><i class="fas fa-pen-fancy"></i>CosmicOwl (İftihar M. Çırçır)</a></center>
    </div>
  </div>


  <footer>
    <div class="footer">
      <div class="f-middle">
        <p style="font-size:40px;">Follow Us</p>
        <center><a href="#"><i class="fab fa-facebook-square"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-reddit"></i></a>
          <center>
            <div class="border"></div>
            <p>2020 © Created by SedAtmaca & CosmicOwl All Rights Reserved</p>
      </div>
    </div>
  </footer>

</body>

</html>