<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>{{article.title}}</title>
  <link rel="stylesheet" href="static/style.css">
  <link href="https://fonts.googleapis.com/css?family=Alata|Raleway&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>

<body>
  <div class="content">
    <header>
      <div class="mid-header">
        <div class="logo">
          <a href="/">OurMood</a>
        </div>
        <ul class="nav-links">
          
          <a href="/articles">Articles</a>
          {% if session["logged_in"] %}
            <a href="/addarticle">Add Article</a>
          {% else %}
          {% endif %}

          {% if session["logged_in"] %}
            <a href="/dashboard">Control Panel</a>
          {% else %}
          {% endif %}


          <a href="/about">About</a>
          <a href="/contact">Contact</a>
          {% if session["logged_in"] %}
            <a href="/logout">Log Out</a>
           {% else %}
           <a href="/login"><button>Sign Up</button></a>
           {% endif %}

        </ul>
      </div>
    </header>

    <div class="article-full">
      <a style="left:10px;"><i class="fas fa-pen-fancy"></i> {{article.author}}</</a>
      <a style="left:220px;"><i class="far fa-clock"></i> {{article.created_time}}</a>
      <h1>{{article.title}}</</h1>
      <center><img src="images/1.jpg" alt=""></center>
      <h2>{{article.content}}</h2>
    </div>

    <div class="written-by">
      <center><a><i class="fas fa-pen-fancy"></i> Written by {{article.author}}</a>
        <a><i class="far fa-clock"></i> {{article.created_time}}</a></center>
    </div>
  </div>

  <footer>
    <div class="footer">
      <div class="f-middle">
        <p style="font-size:40px;">Follow Us</p>
        <center><a href="#"><i class="fab fa-facebook-square"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-reddit"></i></a>
          <center>
            <div class="border"></div>
            <p>2020 © Created by SedAtmaca & CosmicOwl All Rights Reserved</p>
      </div>
    </div>
  </footer>

</body>

</html>